@tailwind base;
@tailwind components;
@tailwind utilities;


.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This centers the content vertically */
}
